<div class="container">
  <h1><%= @rooms.count %> cheap rooms found in hotels nearby</h1>

  <div class="room-cards">
    <% @rooms.each do |room| %>
      <div class="card-trip">
        <img src="https://images.pexels.com/photos/2640604/pexels-photo-2640604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <div class="card-trip-infos">
          <div>
            <h2><%= room.hotel.name %></h2>
            <p><%= room.hotel.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= room.price_per_night %> €</h2>
          <p class="card-trip-user avatar-bordered"><%= room.capacity %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
