<div style="height: 400px;
            background-image: url('https://images.pexels.com/photos/2640604/pexels-photo-2640604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');"
            >
</div>

<div class="container">
  <h1><%= @room.hotel.name %></h1>
  <p>Location: <%= @room.hotel.address %></p>
  <p>People: <%= @room.capacity %></p>
  <p>Price: <%= @room.price_per_night %></p>

  <%= simple_form_for [@room, @booking] do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :starts_at, as: :string,
                    wrapper_html: { class: "mb-4" },
                    label_html: { class: "form-label text-secondary fw-bold" },
                    input_html: { data: { controller: "flatpickr" } } %>
      </div>
      <div class="col">
        <%= f.input :ends_at, as: :string,
                    wrapper_html: { class: "mb-4" },
                    label_html: { class: "form-label text-secondary fw-bold" },
                    input_html: { data: { controller: "flatpickr" } } %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>

  <button class="btn btn-primary">
    <%= link_to "Back", rooms_path %>
  </button>
</div>
